[submodule "Submodules/Sulakore"]
	path = Submodules/Sulakore
	url = https://github.com/ArachisH/Sulakore.git
[submodule "Submodules/Eavesdrop"]
	path = Submodules/Eavesdrop
	url = https://github.com/ArachisH/Eavesdrop.git
